.viewport {
    clip-path: url(#viewportClip);
}

.link {
    fill: none;
    stroke: #000000;
    shape-rendering: crispEdges;
}

.link.outOfThreshold {
    stroke: #e9e9e9;
}

.link.outOfFilter {
    stroke: #e9e9e9;
}

.link.selected {
    stroke: #ffa600;
}

.link.selected.outOfFilter {
    stroke: #ffd78c;
}

.leaf {
    shape-rendering: crispEdges;
}

.leaf.outOfFilter {
    fill: #e9e9e9;
}

.selectionEnabled .leaf:not(.outOfFilter) {
    cursor: pointer;
}

.cluster {
    fill: #a3a2a2;
}

.selectionEnabled .cluster:not(.outOfFilter) {
    cursor: pointer;
}

.cluster.root {
    fill: #000000;
}

.cluster.outOfThreshold {
    fill: #e9e9e9;
}

.cluster.outOfFilter {
    fill: #e9e9e9;
}

.cluster.selected {
    fill: #ffa600;
}

.selectionEnabled .cluster:not(.outOfFilter):hover {
    fill: #ffa600;
}

.cluster.selected.outOfFilter {
    fill: #ffd78c;
}

.threshold {
    fill: #ff0000;
}

.thresholdEnabled .threshold {
    cursor: ns-resize;
}

.knime-axis.knime-x {
    clip-path: url(#xAxisClip);
}

.knime-axis.knime-x .knime-tick-label {
    text-anchor: end;
    transform: rotate(-90deg);
}

.selectionEnabled .knime-axis.knime-x .tick:not(.outOfFilter) .knime-tick-label {
    cursor: pointer;
}

.knime-axis.knime-x .tick.selected .knime-tick-label {
    fill: #ffa600;
}

.knime-axis .knime-tick-line {
    stroke: #000000;
}

.knime-axis .tick.selected .knime-tick-line {
    stroke: #ffa600;
}

.knime-axis.knime-x .tick.outOfFilter .knime-tick-label {
    fill: #d3cece;
}

.knime-axis.knime-x .tick.outOfFilter .knime-tick-line {
    stroke: #d3cece;
}

.knime-axis.knime-x .tick.selected.outOfFilter .knime-tick-label {
    fill: #ffd78c;
}
.knime-axis.knime-x .tick.selected.outOfFilter .knime-tick-line {
    stroke: #ffd78c;
}