.viewport {
    clip-path: url(#viewportClip);
}

.link {
    fill: none;
    stroke: #000000;
    shape-rendering: crispEdges;
}

.link.outOfThreshold {
    stroke: #d3cece;
}

.link.selected {
    stroke: #ffa600;
}

.leaf {
    shape-rendering: crispEdges;
}

.cluster {
    fill: #a3a2a2;
    cursor: pointer;
}

.cluster.root {
    fill: #000000;
}

.cluster.outOfThreshold {
    fill: #d3cece;
}

.cluster.selected,
.cluster:hover {
    fill: #ffa600;
}

.threshold {
    fill: red;
    cursor: ns-resize;
}

.knime-axis.knime-x {
    clip-path: url(#xAxisClip);
}

.knime-axis.knime-x .knime-tick-label {
    text-anchor: end;
    transform: rotate(-90deg);
    cursor: pointer;
}

.knime-axis.knime-x .tick.selected .knime-tick-label {
    fill: #ffa600;
}

.knime-axis .knime-tick-line {
    stroke: #000000;
}