<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/optics"
            deprecated="false"
            factory-class="org.knime.base.node.mine.optics.compute.OPTICSComputeNodeFactory">
      </node>
      <node
            after="org.knime.base.node.mine.optics.compute.OPTICSComputeNodeFactory"
            category-path="/labs/optics"
            deprecated="false"
            factory-class="org.knime.base.node.mine.optics.assigner.OPTICSAssignerNodeFactory">
      </node>
      <node
            category-path="/labs/js-views"
            factory-class="org.knime.js.base.node.viz.tableeditor.TableEditorViewNodeFactory">
      </node>
      <node
            category-path="/labs/js-views"
            deprecated="false"
            factory-class="org.knime.base.node.stats.dataexplorer.DataExplorerNodeFactory">
      </node>
      <node
            category-path="/analytics/mining/modeleval"
            deprecated="false"
            factory-class="org.knime.js.base.node.scorer.ScorerNodeFactory">
      </node>
      <node
            category-path="/analytics/mining/clustering"
            deprecated="false"
            factory-class="org.knime.base.node.mine.cluster.hierarchical.js.HierarchicalClusterAssignerFactory">
      </node>
      <node
            category-path="/labs/js-views"
            deprecated="false"
            factory-class="org.knime.js.base.node.viz.cardView.CardViewNodeFactory">
      </node>
      <node
            category-path="/labs/js-views"
            deprecated="false"
            factory-class="org.knime.js.base.node.viz.heatmap.HeatMapNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/optics.png"
            level-id="optics"
            locked="true"
            name="Optics Clustering"
            path="/labs">
      </category>
   </extension>
   <extension point="org.knime.core.PortType">
      <portType
            hidden="true"
            name="OPTICS Clustering Port"
            objectClass="org.knime.base.node.mine.optics.OPTICSPortObject"
            objectSerializer="org.knime.base.node.mine.optics.OPTICSPortObject$Serializer"
            specClass="org.knime.core.data.DataTableSpec">
      </portType>
   </extension>
   <extension
         point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="true"
            name="OPTICS"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="org.knime.base.node.mine.optics.bundle">
         <webResource
               relativePathSource="js-src/org/knime/base/node/mine/optics/"
               relativePathTarget="org/knime/base/node/mine/optics/">
         </webResource>
         <webDependency
               webResourceBundleID="jsFreeChart_0.5">
         </webDependency>
         <importResource
               relativePath="org/knime/base/node/mine/optics/knime-optics.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/base/node/mine/optics/optics.css"
               type="CSS">
         </importResource>
         <importResource
               relativePath="org/knime/base/node/mine/optics/virtualscroller.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Table Editor"
            usesDefine="false"
            version="0.0.2"
            webResourceBundleID="org.knime.js.base.node.viz.tableeditor.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/tableeditor/"
               relativePathTarget="org/knime/js/base/node/viz/tableeditor/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/tableeditor/table-editor.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/tableeditor/table-editor.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
         <webDependency
               webResourceBundleID="knimeBaseTableViewer_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Data Explorer"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="org.knime.base.node.stats.dataexplorer.bundle">
         <webResource
               relativePathSource="js-src/org/knime/base/node/stats/dataexplorer/"
               relativePathTarget="org/knime/base/node/stats/dataexplorer/">
         </webResource>
         <importResource
               relativePath="org/knime/base/node/stats/dataexplorer/data-explorer.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/base/node/stats/dataexplorer/data-explorer.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
         <webDependency
               webResourceBundleID="D3_3.2.8">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Scorer"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="org.knime.js.base.node.scorer.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/scorer/"
               relativePathTarget="/org/knime/js/base/node/scorer/">
         </webResource>
         <importResource
               relativePath="/org/knime/js/base/node/scorer/scorer.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="/org/knime/js/base/node/scorer/scorer.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Hierarchical Cluster Assigner"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="org.knime.base.node.mine.cluster.hierarchical.bundle">
         <webResource
               relativePathSource="js-src/org/knime/base/node/mine/cluster/hierarchical/"
               relativePathTarget="/org/knime/base/node/mine/cluster/hierarchical/">
         </webResource>
         <importResource
               relativePath="/org/knime/base/node/mine/cluster/hierarchical/dendrogram.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="/org/knime/base/node/mine/cluster/hierarchical/dendrogram.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_4.13.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Card View"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.cardView.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/cardView/"
               relativePathTarget="/org/knime/js/base/node/viz/cardView/">
         </webResource>
         <importResource
               relativePath="/org/knime/js/base/node/viz/cardView/cardview.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="/org/knime/js/base/node/viz/cardView/styles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
         <webDependency
               webResourceBundleID="knimeBaseTableViewer_1.0.0">
         </webDependency>
      </webResourceBundle>
       <webResourceBundle
            debug="true"
            name="Heatmap"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.heatmap.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/heatmap/"
               relativePathTarget="/org/knime/js/base/node/viz/heatmap/">
         </webResource>
         <importResource
               relativePath="/org/knime/js/base/node/viz/heatmap/heatmap.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="/org/knime/js/base/node/viz/heatmap/styles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_4.13.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="renderQueue_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="renderQueue_1.0.0">
         </webDependency>
      </webResourceBundle>
   </extension>
   <extension
         point="org.knime.js.core.javascriptComponents">
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.base.node.mine.optics.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_base_node_mine_optics"
            name="OPTICS"
            namespace="optics_namespace"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.tableeditor.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.tableeditor"
            name="Table Editor"
            namespace="table_editor"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.base.node.stats.dataexplorer.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_base_node_stats_dataexplorer"
            name="Data Explorer"
            namespace="dataExplorerNamespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.scorer.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.scorer"
            name="Scorer"
            namespace="scorer_namespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.base.node.mine.cluster.hierarchical.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.base.node.mine.cluster.hierarchical"
            name="Hierarchical Cluster Assigner"
            namespace="dendrogram_namespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.cardView.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.cardView"
            name="Card View"
            namespace="cards_namespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
            <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.heatmap.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.heatmap"
            name="Heatmap"
            namespace="heatmap_namespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
   </extension>

</plugin>
