<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
   <!--
      <node
            category-path="/labs/interactiveView"
            factory-class="org.knime.js.base.node.viz.tableEditor.TableEditorViewNodeFactory">
      </node>
   -->
      <node
            category-path="/labs/interactiveView"
            deprecated="false"
            factory-class="org.knime.js.base.node.viz.tagCloud.TagCloudViewNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/js.png"
            level-id="interactiveView"
            locked="true"
            name="JavaScript Views (Labs)"
            path="/labs">
      </category>
   </extension>
   <extension
         point="org.knime.js.core.webResources">
<!--
      <webResourceBundle
            debug="true"
            name="Universal Date Formatter"
            version="1.2.3"
            webResourceBundleID="org.knime.js.base.util.dateFormat.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/util/dateFormat/"
               relativePathTarget="org/knime/js/base/util/dateFormat/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/util/dateFormat/date-format.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Table"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.table.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/table/"
               relativePathTarget="org/knime/js/base/node/viz/table/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/table/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTableView_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="jQueryNumberFormat_2.1.3">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="KNIME Table View"
            version="1.0.0"
            webResourceBundleID="KnimeTableView_1.0.0">
         <webResource
               relativePathSource="js-src/org/knime/js/base/util/table/view/"
               relativePathTarget="org/knime/js/base/util/table/view/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/util/table/view/knime_table_view_1_0_0.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/util/table/view/styles.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Paged Table"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="org.knime.js.base.node.viz.pagedTable.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/pagedTable/"
               relativePathTarget="org/knime/js/base/node/viz/pagedTable/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/pagedTable/knime-paged-table.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/pagedTable/knime-paged-table.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Table Editor"
            usesDefine="false"
            version="0.0.2"
            webResourceBundleID="org.knime.js.base.node.viz.tableEditor.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/tableEditor/"
               relativePathTarget="org/knime/js/base/node/viz/tableEditor/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/tableEditor/table-editor.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/tableEditor/table-editor.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
      </webResourceBundle>
-->
      <webResourceBundle
            debug="true"
            name="Tag Cloud"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="org.knime.js.base.node.viz.tagCloud.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/tagCloud/"
               relativePathTarget="org/knime/js/base/node/viz/tagCloud/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/tagCloud/tagCloud.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="d3_layout_cloud_1.2.4">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle>
   </extension>
   <extension
         point="org.knime.js.core.javascriptComponents">
      <!-- <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.line.bundle"
            init-method-name="init"
            javascriptComponentID="knime_line_plotter"
            name="DEV Line Chart"
            namespace="knime_line_plotter"
            validate-method-name="validate">
      </javascriptComponent> -->
      <!-- <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.rowselector.bundle"
            init-method-name="init"
            javascriptComponentID="knime_row_selector"
            name="DEV Table Row Selector"
            namespace="knime_row_selector"
            validate-method-name="validate">
      </javascriptComponent> -->
      <!-- <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.scatter_own.bundle"
            init-method-name="init"
            javascriptComponentID="knime_scatter_plotter_own"
            name="DEV Scatter Plot"
            namespace="knime_scatter_plotter"
            validate-method-name="validate">
      </javascriptComponent> -->
<!--      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.input.credentials.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_input_credentials"
            name="Credentials Input Quickform"
            namespace="org_knime_js_base_node_quickform_input_credentials"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.tableEditor.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.tableEditor"
            name="Table Editor"
            namespace="table_editor"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
-->
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.tagCloud.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.tagCloud"
            name="Tag Cloud"
            namespace="knime_tag_cloud"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
   </extension>

</plugin>
