<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/js-views"
            deprecated="false"
            factory-class="org.knime.js.base.node.viz.tagcloud.TagCloudViewNodeFactory">
      </node>
      <node
            category-path="/labs/optics"
            deprecated="false"
            factory-class="org.knime.base.node.mine.optics.compute.OPTICSComputeNodeFactory">
      </node>
      <node
            after="org.knime.base.node.mine.optics.compute.OPTICSComputeNodeFactory"
            category-path="/labs/optics"
            deprecated="false"
            factory-class="org.knime.base.node.mine.optics.assigner.OPTICSAssignerNodeFactory">
      </node>
      <node
            category-path="/labs/js-views"
            factory-class="org.knime.js.base.node.viz.tableeditor.TableEditorViewNodeFactory">
      </node>
      <node
            category-path="/labs/js-views"
            deprecated="false"
            factory-class="org.knime.base.node.stats.dataexplorer.DataExplorerNodeFactory">
      </node>
      <node
            category-path="/analytics/mining/modeleval"
            deprecated="false"
            factory-class="org.knime.js.base.node.scorer.ScorerNodeFactory">
      </node>
      <node
            category-path="/analytics/mining/clustering"
            deprecated="false"
            factory-class="org.knime.base.node.mine.cluster.hierarchical.js.HierarchicalClusterAssignerFactory">
      </node>
      <node
            category-path="/labs/js-views"
            deprecated="false"
            factory-class="org.knime.js.base.node.viz.cardView.CardViewNodeFactory">
      </node>
      <node
            category-path="/labs/js-views"
            deprecated="false"
            factory-class="org.knime.js.base.node.viz.heatmap.HeatMapNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/optics.png"
            level-id="optics"
            locked="true"
            name="Optics Clustering"
            path="/labs">
      </category>
   </extension>
   <extension point="org.knime.core.PortType">
      <portType
            hidden="true"
            name="OPTICS Clustering Port"
            objectClass="org.knime.base.node.mine.optics.OPTICSPortObject"
            objectSerializer="org.knime.base.node.mine.optics.OPTICSPortObject$Serializer"
            specClass="org.knime.core.data.DataTableSpec">
      </portType>
   </extension>
   <extension
         point="org.knime.js.core.webResources">
<!--
      <webResourceBundle
            debug="true"
            name="Universal Date Formatter"
            version="1.2.3"
            webResourceBundleID="org.knime.js.base.util.dateFormat.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/util/dateFormat/"
               relativePathTarget="org/knime/js/base/util/dateFormat/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/util/dateFormat/date-format.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Table"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.table.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/table/"
               relativePathTarget="org/knime/js/base/node/viz/table/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/table/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTableView_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="jQueryNumberFormat_2.1.3">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="KNIME Table View"
            version="1.0.0"
            webResourceBundleID="KnimeTableView_1.0.0">
         <webResource
               relativePathSource="js-src/org/knime/js/base/util/table/view/"
               relativePathTarget="org/knime/js/base/util/table/view/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/util/table/view/knime_table_view_1_0_0.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/util/table/view/styles.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Paged Table"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="org.knime.js.base.node.viz.pagedTable.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/pagedTable/"
               relativePathTarget="org/knime/js/base/node/viz/pagedTable/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/pagedTable/knime-paged-table.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/pagedTable/knime-paged-table.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Table Editor"
            usesDefine="false"
            version="0.0.2"
            webResourceBundleID="org.knime.js.base.node.viz.tableeditor.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/tableEditor/"
               relativePathTarget="org/knime/js/base/node/viz/tableEditor/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/tableEditor/table-editor.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/tableEditor/table-editor.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
      </webResourceBundle>
-->
      <webResourceBundle
            debug="true"
            name="Tag Cloud"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="org.knime.js.base.node.viz.tagcloud.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/tagcloud/"
               relativePathTarget="org/knime/js/base/node/viz/tagcloud/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/tagcloud/tagCloud.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="d3_layout_cloud_1.2.4">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="OPTICS"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="org.knime.base.node.mine.optics.bundle">
         <webResource
               relativePathSource="js-src/org/knime/base/node/mine/optics/"
               relativePathTarget="org/knime/base/node/mine/optics/">
         </webResource>
         <webDependency
               webResourceBundleID="jsFreeChart_0.5">
         </webDependency>
         <importResource
               relativePath="org/knime/base/node/mine/optics/knime-optics.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/base/node/mine/optics/optics.css"
               type="CSS">
         </importResource>
         <importResource
               relativePath="org/knime/base/node/mine/optics/virtualscroller.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Table Editor"
            usesDefine="false"
            version="0.0.2"
            webResourceBundleID="org.knime.js.base.node.viz.tableeditor.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/tableeditor/"
               relativePathTarget="org/knime/js/base/node/viz/tableeditor/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/tableeditor/table-editor.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/tableeditor/table-editor.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
         <webDependency
               webResourceBundleID="knimeBaseTableViewer_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Data Explorer"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="org.knime.base.node.stats.dataexplorer.bundle">
         <webResource
               relativePathSource="js-src/org/knime/base/node/stats/dataexplorer/"
               relativePathTarget="org/knime/base/node/stats/dataexplorer/">
         </webResource>
         <importResource
               relativePath="org/knime/base/node/stats/dataexplorer/data-explorer.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/base/node/stats/dataexplorer/data-explorer.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
         <webDependency
               webResourceBundleID="D3_3.2.8">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Scorer"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="org.knime.js.base.node.scorer.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/scorer/"
               relativePathTarget="/org/knime/js/base/node/scorer/">
         </webResource>
         <importResource
               relativePath="/org/knime/js/base/node/scorer/scorer.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="/org/knime/js/base/node/scorer/scorer.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Hierarchical Cluster Assigner"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="org.knime.base.node.mine.cluster.hierarchical.bundle">
         <webResource
               relativePathSource="js-src/org/knime/base/node/mine/cluster/hierarchical/"
               relativePathTarget="/org/knime/base/node/mine/cluster/hierarchical/">
         </webResource>
         <importResource
               relativePath="/org/knime/base/node/mine/cluster/hierarchical/dendrogram.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="/org/knime/base/node/mine/cluster/hierarchical/dendrogram.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_4.13.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Card View"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.cardView.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/cardView/"
               relativePathTarget="/org/knime/js/base/node/viz/cardView/">
         </webResource>
         <importResource
               relativePath="/org/knime/js/base/node/viz/cardView/cardview.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="/org/knime/js/base/node/viz/cardView/styles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="moment_timezone_locales_2_17">
         </webDependency>
         <webDependency
               webResourceBundleID="dataTables_1_10_11_bootstrap">
         </webDependency>
         <webDependency
               webResourceBundleID="knimeBaseTableViewer_1.0.0">
         </webDependency>
      </webResourceBundle>
       <webResourceBundle
            debug="true"
            name="Heatmap"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.heatmap.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/heatmap/"
               relativePathTarget="/org/knime/js/base/node/viz/heatmap/">
         </webResource>
         <importResource
               relativePath="/org/knime/js/base/node/viz/heatmap/heatmap.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="/org/knime/js/base/node/viz/heatmap/styles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_4.13.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="renderQueue_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="renderQueue_1.0.0">
         </webDependency>
      </webResourceBundle>
   </extension>
   <extension
         point="org.knime.js.core.javascriptComponents">
      <!-- <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.line.bundle"
            init-method-name="init"
            javascriptComponentID="knime_line_plotter"
            name="DEV Line Chart"
            namespace="knime_line_plotter"
            validate-method-name="validate">
      </javascriptComponent> -->
      <!-- <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.rowselector.bundle"
            init-method-name="init"
            javascriptComponentID="knime_row_selector"
            name="DEV Table Row Selector"
            namespace="knime_row_selector"
            validate-method-name="validate">
      </javascriptComponent> -->
      <!-- <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.scatter_own.bundle"
            init-method-name="init"
            javascriptComponentID="knime_scatter_plotter_own"
            name="DEV Scatter Plot"
            namespace="knime_scatter_plotter"
            validate-method-name="validate">
      </javascriptComponent> -->
<!--      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.input.credentials.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_input_credentials"
            name="Credentials Input Quickform"
            namespace="org_knime_js_base_node_quickform_input_credentials"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.tableeditor.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.tableeditor"
            name="Table Editor"
            namespace="table_editor"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
-->
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.tagcloud.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.tagcloud"
            name="Tag Cloud"
            namespace="knime_tag_cloud"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.base.node.mine.optics.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_base_node_mine_optics"
            name="OPTICS"
            namespace="optics_namespace"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.tableeditor.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.tableeditor"
            name="Table Editor"
            namespace="table_editor"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.base.node.stats.dataexplorer.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_base_node_stats_dataexplorer"
            name="Data Explorer"
            namespace="dataExplorerNamespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.scorer.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.scorer"
            name="Scorer"
            namespace="scorer_namespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.base.node.mine.cluster.hierarchical.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.base.node.mine.cluster.hierarchical"
            name="Hierarchical Cluster Assigner"
            namespace="dendrogram_namespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.cardView.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.cardView"
            name="Card View"
            namespace="cards_namespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
            <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.heatmap.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.heatmap"
            name="Heatmap"
            namespace="heatmap_namespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
   </extension>

</plugin>
